.navbar {
	width: 20vw !important;
	height: 100vh !important;
	position: absolute;
	top: 0;
	left: 0;
}

.adjust-left {
	margin-left: 20vw !important;
	width: 80vw !important;
}

.navbar-brand {
	font-weight: bold;
}

.color-red {
	color: #ce284f !important;
}

.color-blue {
	color: #536987 !important;
}

.nav-item {
	border: 2px solid #e8edf1;
	font-size: small;
	background-color: #e8f1fe;
}

.nav-link {
	color: #2e4f7c !important;
	font-weight: bold;
}

.current {
	background-color: #97c0ff !important;
}

.larr-btn {
	background-color: transparent;
	border: none;
	outline: none;
}

.mixed-border {
	border-bottom: 4px solid;
	border-image: linear-gradient(to right, #385382 50%, #ce284f 50%) 1;
}

.card {
	width: 100% !important;
	border: 3px solid #2e4f7c;
	font-size: small;
	cursor: pointer;
	transition: 0.15s ease-in-out;
}

.card:hover {
	background-color: #279124;
	color: white !important;
}

.card-body {
	font-weight: 500;
}

.date {
	font-size: medium !important;
}

.slot-button {
	background-color: transparent;
	outline: none;
	border: 3px solid #2e4f7c;
	font-size: small;
	border-radius: 8px;
	padding: 7px 12px;
	transition: 0.15s ease-in-out;
}

.slot-button:hover {
	background-color: #279124;
	color: white !important;
}

.pay-btn {
	border: none;
	outline: none;
	background-color: #193258;
	border: 3px solid #193258;
	color: #fff;
	font-size: small;
	border-radius: 5px;
	padding: 7px 12px;
	transition: 0.15s ease-in-out;
}

.pay-btn:hover {
	background-color: #fff;
	color: #193258;
}

.navbar-toggler {
	position: fixed;
	right: 2%;
}

@media screen and (max-width: 481px) {
	.navbar {
		position: fixed;
		height: fit-content !important;
		width: 100% !important;
		background-color: white;
	}
	.navbar-collapse {
		position: fixed;
		top: 10%;
		right: -30%;
		
	}
	.navbar-nav {
		width: 30% !important;
		
	}
	.navbar-brand {
		position: fixed;
		left: 20px;
	}
}